.resultsWrap {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.results {
    margin: 1.5em 0;
    display: flex;
    flex-flow: column;
    text-align: left;
    gap: 1em;
    font-size: 1.2em;
}

.mili {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .resultsWrap {
        justify-content: flex-start;
    }
}

.daysLeft {
    font-size: 1.3em;
}